html, body, main, footer {
  box-sizing: border-box;
}

main, footer {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding: 0;
    background: rgb(235,239,244);
    background: linear-gradient(153deg, rgba(235,239,244,0.969625350140056) 75%, rgba(203,222,251,0.9528186274509804) 98%);
}

nav {
    color: #1E488F;
    background-color: #cbdefb;
}

a {
    color: #172B4D ;
}

.navbar-toggler-icon.iccc {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(30, 72, 143)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");    
}

.card-footer .btn {
    background-color: #1E488F;
}

.card-body {
    background-color: rgb(226, 234, 243);
}

.card-footer {
    background-color: #bed5f6;
}

.card-footer a {
    font-weight: 600;
}

.card-img-top{
    width:100%;
    height:auto;
}

.card-title {
    color: #1E488F;
    font-weight: 700;
}

.aboutme {
    font-style: italic;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h1, h3 {
    color: rgb(17, 54, 117);  
}

nav {
    background: rgb(19,172,109);
    background: linear-gradient(0deg, rgba(18,141,90,1) 5%, rgba(19,172,109,1) 100%);
}

nav a {
    font-weight: 600;
}

nav a:hover {
    text-decoration: none;
}

h2 {
    color: #128D5A;
}

.aboutme, p {
    margin-top: 1.5em;
    font-family: 'Inter', sans-serif;
    font-size: large;
}

h3 {
    font-size: xx-large;
    text-decoration: underline;
    margin-top: 2em;
    margin-bottom: 1em;
    text-decoration-color:#128D5A;
}

iframe {
    min-width: 46em;
    min-height: 50em;
}

.carousel-inner {
    min-width: 36em;
    min-height: 36em;
    max-width: 42em;
    max-height: 42em;
}

i {
    font-size: 2em;
}
